<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>自訂事件 產生器</title>
<link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="node_modules/code-prettify/loader/prettify.css" rel="stylesheet">
</head>
<body>
<div id="js-event-app" class="container container-fluid">
    <div class="page-header">
        <h1>自訂事件 <small>產生器</small></h1>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="element">
                Vue App Element
            </label>
            <input class="form-control" type="text" id="element" v-model="element" value="" />
        </div>
        <div class="form-group">
            <label for="event">
                觸發條件
            </label>
            <select id="event" v-on:change="eventOnChange" v-model="event" class="form-control">
                <option selected="selected" disabled="disabled" value="">請選擇</option>
                <option value="blur">失焦(blur)</option>
                <option value="change">修改後(change)</option>
                <option value="click">點擊(click)</option>
                <option value="dblclick">點擊二次(dblclick)</option>
                <option value="focus">焦點(focus)</option>
                <option value="mouseenter">滑鼠進來(mouseenter)</option>
                <option value="mouseover">滑鼠在焦點上移動(mouseover)</option>
                <option value="mouseleave">滑鼠出去(mouseleave)</option>
            </select>
        </div>
        <div class="form-group">
            <label for="category">
                Category
            </label>
            <input class="form-control" type="text" id="category" v-model="eventCategory" value="" />
        </div>
        <div class="form-group">
            <label for="action">
                Action
            </label>
            <input class="form-control" type="text" id="action" v-model="eventAction" value="" />
        </div>
        <div class="form-group">
            <label for="label">
                Label
            </label>
            <input class="form-control" type="text" id="label" v-model="eventLabel" value="" />
        </div>
        <div class="form-group">
            <label for="label">
                Value
            </label>
            <input class="form-control" type="text" id="value" v-model="eventValue" value="" />
        </div>
        <div class="form-group">
            <button class="btn btn-success" data-id="go" type="button" v-on:click="generateEvent">
                <i class="fa fa-clone"> 送出</i>
            </button>
        </div>
    </div>
    <div class="row">
        <label for="code">自訂事件 程式碼</label>
        <div id="code" v-html="code"></div>
        <xmp ref="hiddenCodeUI" style="display: none;">
new Vue({
    el: '{{element}}',
    methods: {
        {{method}}: function() {
            ga('send', 'event', {
                eventCategory: '{{eventCategory}}',
                eventAction: '{{eventAction}}',
                eventLabel: '{{eventLabel}}',
                eventValue: '{{eventValue}}'
            });
        }
    }
});
        </xmp>
    </div>
</div>
<script src="node_modules/vue/dist/vue.min.js"></script>
<script src="node_modules/code-prettify/loader/prettify.js"></script>
<script src="js/event.js"></script>
</body>
</html>
